# App Config
PORT=3030

# Database Config (Prisma)
# Replace with your database credentials
DATABASE_URL="mysql://root:password@localhost:3306/db_keuangan_desa"

# Auth Config
# Provide a secure random secret key for JWT
JWT_SECRET="kaskita_rahasia_super_secure_key_123"
